<footer class="footer-content" style="width:80%; display: flex; justify-content: space-between; align-items: center; border-top: 3px dotted #e53e3e;">
    <span style="margin-left: 24px;">&#169; irvyn</span>
    <div style="display: flex;">
        <a href="/bugreport" style="margin-right: 24px;" title="Tell me about the bugs (be kind)">
            <i class="fa-solid fa-bug"></i>
        </a>
        <a href="/suggestions" style="margin-right: 24px;" title="Give me suggestions!">
            <i class="fa-solid fa-lightbulb"></i>
        </a>
        <a href="https://www.linkedin.com/in/formula1enthu/" style="margin-right: 24px;" title="My linked-in? (hire me)">
            <i class="fa fa-linkedin"></i>
        </a>
        <a href="https://www.github.com/1rvyn" style="margin-right: 24px;" title="My personal github (give me stars)">
            <i class="fa fa-github"></i>
        </a>
        <a href="https://irvyn.dev" style="margin-right: 24px;" title="My portfolio">
            <i class="fa-solid fa-address-card"></i>
        </a>
        <a href="mailto:irvynhall@gmail.com" style="margin-right: 24px;" title="My mail (will open your default mail app)">
            <i class="fa fa-envelope"></i>
        </a>
    </div>
</footer>
