<script src="/js/login.js"></script>


<form class="login-form text-center">

    <div class="login-input">
        <label for="email">email</label>
        <input
                type="text"
                placeholder="Email"
                id="email"
                name="email"
                required
        />
        <label for="password">Password</label>
        <input
                type="password"
                placeholder="Password"
                id="password"
                name="password"
                required
        />
    </div>
    <button class="primary-btn" type="submit" value="login">Login</button>
</form>


<a href="/register">Need an account? Register</a>


