<script src="js/register.js"></script>

<form class="register-form text-center">
    <h1>Register your account.</h1>

    <div class="register-input">
        <label for="name">name</label>
        <input
                type="text"
                placeholder="name"
                id="name"
                name="name"
                required
        />
        <label for="email">email</label>
        <input
                type="text"
                placeholder="Email"
                id="email"
                name="email"
                required
        />
        <label for="password">Password</label>
        <input
                type="password"
                placeholder="Password"
                id="password"
                name="password"
                required
        />
    </div>
    <button class="primary-btn bg-green-500" type="submit" value="login">Register</button>
</form>