.leetcode-editor {*/
   display: flex;
   flex-direction: row;*/
   height: 100%;
}

.question {
    width: 25%;
    height: 100%;
    overflow-y: scroll;
}

.editor-and-output {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.code-editor {
   flex: 1;
   font-family: monospace;
   font-size: 16px;
 }

 .terminal {
    flex: 1;
    font-family: monospace;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    overflow-y: scroll;
}
body{
    /* the body should be the whole webpage  */
    height: 100%;
   overflow: hidden;
}
