@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/*https://irvyn.xyz/css/tailwindcss/base*/

/*!* send footer to the bottom but keep the padding*!*/
/*.main-footer{*/
/*    text-align: center;*/
/*    padding-top: 10px;*/
/*    outline-style: auto;*/
/*    outline-offset: -2px;*/
/*    background: indianred;*/
/*    position: fixed; !* come back to this *!*/
/*    width: 99%;*/
/*    bottom: 0;*/
/*}*/
/*  */

/*.problem-container {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    margin: 0 -2rem;*/
/*}*/

header {
    font-family: Inconsolata, monospace;

}
#header-ul li {
    padding: 0 10px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.min-h-screen {
    min-height: 100vh;
}

main {
    flex: 1;
}
.current-page{
    font-weight: bolder;
    font-style: italic;
}
 footer {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 12px;
 }

footer a {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0 12px;
}
footer i {
    font-size: 18px;
    margin-right: 8px;
    color: black;
}
.footer-content {
    display: none;
}
@media (min-width: 480px) {
    footer {
        padding: 12px 0;
    }
}




/*.main-title{*/
/*    text-align: center;*/
/*    outline-style: groove;*/
/*    outline-offset: -4px;*/
/*    position: relative;*/
/*}*/

/*h2 {*/
/*    size: 200px;*/
/*}*/

/*.active {*/
/*    font-weight: bold;*/
/*    color: #333;*/
/*}*/

/*#header-links{*/
/*    !*make these links horizontal and larger*!*/
/*    display: inline-block;*/
/*    font-size: 20px;*/
/*    padding: 10px;*/
/*    margin: 10px;*/
/*}*/

/*#header-ul {*/
/*    text-align: center;*/
/*}*/
/*!*make the links centered*!*/

/*body{*/
/*    text-align: center;*/
/*}*/
