
/* send footer to the bottom but keep the padding*/
.main-footer{
    text-align: center;
    padding-top: 10px;
    outline-style: auto;
    outline-offset: -2px;
    background: indianred;
    position: absolute;
    bottom: 0;
    width: 99%;
}

.main-title{
    text-align: center;
    outline-style: groove;
    outline-offset: -4px;
    position: relative;
}

h2 {
    size: 200px;
}

.active {
    font-weight: bold;
    color: #333;
}

#header-links{
    /*make these links horizontal and larger*/
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

#header-ul {
    text-align: center;
}
/*make the links centered*/

body{
    text-align: center;
}
