#code {
    width: 100%;
    height: 300px;
    font-size: 16px;
    font-family: monospace;
    white-space: pre;
    overflow-x: auto;
    background: #f6f8fa;
    border: 1px solid #ddd;
    padding: 20px;
}

/* Add line numbering */
#code {
    -webkit-line-numbers: none;
    -moz-line-numbers: none;
    line-numbers: none;
    counter-reset: line;
}

#code > span {
    counter-increment: line;
}

#code > span:before {
    content: counter(line);
    color: #999;
    display: inline-block;
    width: 2em;
    text-align: right;
    padding-right: 0.5em;
    margin-right: 0.5em;
    border-right: 1px solid #ddd;
}
