<body class="bg-gray-100 flex flex-col min-h-screen">
  <header class="bg-white shadow-sm">
      {{ template "partials/header" . }}
  </header>
  
  <script src="js/account.js"></script>
  <main class="flex-1">

  <!-- <div id="account-page flex flex-col justify-center items-center"> -->
  <div class="account-info">
   
  </div>
    <p>
        Below you should see your account details:
    </p>

    <button id="getSubmissions">Click me!</button>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("getSubmissions").addEventListener("click", function() {
          console.log("Button was clicked!");
          getSubmissions();
        });
      });
    </script>
</div>
</main>

<footer>
    {{ template "partials/footer" . }}
</footer>