<body class="bg-gray-100 flex flex-col min-h-screen">
  <header class="bg-white shadow-sm">
      {{ template "partials/header" . }}
  </header>
  
  
  {{.item}}
<div id="account-page">
    <p>
        Below you should see your account details:
    </p>

    <button id="getSubmissions">Click me!</button>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("getSubmissions").addEventListener("click", function() {
          console.log("Button was clicked!");
          getSubmissions();
        });
      });
    </script>

</div>

{{template "partials/account" .}}
<footer>
    {{ template "partials/footer" . }}
</footer>