{{template "partials/header" .}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/code.js"></script>
<script src="js/ace-local.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/ace.js" 
integrity="sha512-WYlXqL7GPpZL2ImDErTX0RMKy5hR17vGW5yY04p9Z+YhYFJcUUFRT31N29euNB4sLNNf/s0XQXZfzg3uKSoOdA=="
 crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<link rel="stylesheet" href="css/code.css">


<div class="leetcode-editor">


    <div class="question">
        {{.Question}}
        <!-- Insert question text here -->
    </div>
    <div class="editor-and-output">

        <div class="code-editor" id="code-editor-ace">{{.Codetemplate}}</div>


        <div class="terminal">
            <button class="submitcodebutton" type="submit">submit</button>
            <!-- Code output will be displayed here -->
        </div>
    </div>
</div>

<!--this code has to be after the code editor is rendered-->
<script>
    // Initialize the code editor
    var editor = ace.edit('code-editor-ace');

    // Set the theme
    editor.setTheme('ace/theme/monokai');

    // Set the mode
    editor.session.setMode('ace/mode/python');
</script>
